[submodule "upconverter_noamp"]
	path = upconverter_noamp
	url = https://gitlab.com/LBL-QubiC/rfmixingmodule/upconverter_noamp.git
[submodule "upconverter_yesamp"]
	path = upconverter_yesamp
	url = https://gitlab.com/LBL-QubiC/rfmixingmodule/upconverter_yesamp.git
[submodule "downconverter"]
	path = downconverter
	url = https://gitlab.com/LBL-QubiC/rfmixingmodule/downconverter.git
[submodule "rfmixing_modules_mech"]
	path = rfmixing_modules_mech
	url = git@gitlab.com:LBL-QubiC/rfmixingmodule/rfmixing_modules_mech.git
